In [42]:
#importing all needed and required libraries
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd
import csv
import surprise
from surprise import Reader, Dataset
from surprise import accuracy
from surprise import SVD

#loading training data and test data
train_data= pd.read_csv(r"C:\Users\Pucado R\Downloads\Data Science Nigeria\train.csv")
test_data= pd.read_csv(r"C:\Users\Pucado R\Downloads\Data Science Nigeria\test.csv")

In [43]:
test_data= test_data.drop('Rating', axis=1)

In [44]:
#data encoding, changing joke identifier and viewers id to their numeric values

#defining function to change viewers id to a numeric value
def redefine_viewers_id(dataset):
    dataset['Viewers_ID']= dataset['Viewers_ID'].str.slice(1)
    
redefine_viewers_id(train_data)
redefine_viewers_id(test_data)

In [57]:
#defining function to change joke identifier 
train_jokes= train_data['Joke_identifier'].unique()
test_jokes= test_data['Joke_identifier'].unique()

#combining joke identifiers from test and train set to ensure homogenuity
jokes= np.append(train_jokes, test_jokes)
jokes= np.unique(jokes)

#Using label encoder
le= LabelEncoder()
le.fit(jokes)

#transform to numeric value
def create_joke_id(dataset):
    dataset['Joke_identifier']= le.transform(dataset['Joke_identifier'])
    
create_joke_id(train_data)
create_joke_id(test_data)
test_data

       Viewers_ID  Joke_identifier                 Response_ID
0               1               14         A1_Akpororo Lagos 1
1               1                9         A1_Akpororo Abuja 1
2               1               13         A1_Akpororo Abuja 5
3               1               87         A1_I Go Dye Benin 1
4               1               89         A1_I Go Dye Benin 3
5               1               94           A1_I Go Dye Uyo 1
6               1               95           A1_I Go Dye Uyo 2
7               1              131         A1_Seyi Law Abuja 3
8               1              132         A1_Seyi Law Abuja 4
9               1               71          A1_Gordons Lagos 2
10              1               73          A1_Gordons Lagos 4
11              1               67          A1_Gordons Abuja 2
12              1               76       A1_Helen Paul Abuja 3
13              1               78       A1_Helen Paul Abuja 5
14              1              123            A1_Saka Ibadan 3
15              1              124            A1_Saka Ibadan 4
16             10               40     A10_BasketMouth Lagos 1
17             10                0              A10_AY Abuja 1
18             10               50            A10_Bovi Abuja 4
19             10               16        A10_Akpororo Lagos 3
20             10               17        A10_Akpororo Lagos 4
21             10               87        A10_I Go Dye Benin 1
22            100               93       A100_I Go Dye Lagos 4
23            100               83       A100_I Go Dye Abuja 1
24            100               84       A100_I Go Dye Abuja 2
25            100               85       A100_I Go Dye Abuja 3
26            100               86       A100_I Go Dye Abuja 4
27            100               87       A100_I Go Dye Benin 1
28            100               94         A100_I Go Dye Uyo 1
29            100               95         A100_I Go Dye Uyo 2
...           ...              ...                         ...
435843       9995              125          A9995_Saka Lagos 1
435844       9995               60    A9995_Funny Bone Abuja 1
435845       9995              115  A9995_Okey Bakassi Abuja 5
435846       9996               94        A9996_I Go Dye Uyo 1
435847       9996              118  A9996_Okey Bakassi Lagos 3
435848       9996              114  A9996_Okey Bakassi Abuja 4
435849       9997               81    A9997_Helen Paul Lagos 3
435850       9997               75    A9997_Helen Paul Abuja 2
435851       9997               77    A9997_Helen Paul Abuja 4
435852       9997               78    A9997_Helen Paul Abuja 5
435853       9997              121         A9997_Saka Ibadan 1
435854       9997              123         A9997_Saka Ibadan 3
435855       9997               64    A9997_Funny Bone Lagos 2
435856       9997              119  A9997_Okey Bakassi Lagos 4
435857       9997              114  A9997_Okey Bakassi Abuja 4
435858       9997              106     A9997_MisterIbu Lagos 1
435859       9997              109     A9997_MisterIbu Lagos 4
435860       9998               70       A9998_Gordons Lagos 1
435861       9998               72       A9998_Gordons Lagos 3
435862       9998               81    A9998_Helen Paul Lagos 3
435863       9999               81    A9999_Helen Paul Lagos 3
435864       9999               75    A9999_Helen Paul Abuja 2
435865       9999               78    A9999_Helen Paul Abuja 5
435866       9999              125          A9999_Saka Lagos 1
435867       9999              123         A9999_Saka Ibadan 3
435868       9999               63    A9999_Funny Bone Lagos 1
435869       9999              117  A9999_Okey Bakassi Lagos 2
435870       9999              113  A9999_Okey Bakassi Abuja 3
435871       9999              106     A9999_MisterIbu Lagos 1
435872       9999              109     A9999_MisterIbu Lagos 4

[435873 rows x 3 columns]

In [59]:
#data preparation for train data
reader = Reader(rating_scale=(-5, 5))
data_train = Dataset.load_from_df(train_data[['Viewers_ID', 'Joke_identifier', 'Rating']], reader)
test_data['Rating'] = 0
data_test = Dataset.load_from_df(test_data[['Viewers_ID', 'Joke_identifier', 'Rating']], reader)

In [60]:
#build full trainset and use cross validation for evaluation
trainset= data.build_full_trainset()

In [61]:
# Using the SVD algorithm.
algo = SVD(n_epochs=50, lr_all=0.005, reg_all=0.2)

# Train the algorithm on the trainset
algo.fit(trainset)

In [63]:
#make predictions on testdata
def define_prediction(x):
  pred = algo.predict(x['Viewers_ID'], x['Joke_identifier'])
  return pred.est

test_data['Rating'] = test_data.apply(define_prediction, axis=1)

In [64]:
#create dataframe of predictions
result = test_data[['Response_ID', 'Rating']]

result.to_csv('submission.csv', index=None)